@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display' serif;
}

html, body{
    min-height: 100vh;
    background-color: rgb(228, 228, 228);
}

header{
    background-color: rgb(19, 18, 18);
    color: rgb(228, 228, 228);
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-weight: 600;
    font-size: 6vw;
    font-family: 'Playfair Display', serif;
}

header > p{
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 2.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    color: rgb(19, 18, 18);
    padding-left: 45px;
}

section.imagem{
    background-color: rgb(19, 18, 18);
    color: rgb(228, 228, 228);
    box-shadow: inset 3px 3px 13px 0px rgba(0, 0, 0, 0.274);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(48, 45, 45, 0.719);
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.685);
}

section#img01{
    background-image: url('../imagens/fundo_1.jpg');
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/fundo_2.jpg');
    background-size: cover;
}

a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    font-weight: bolder;
    transition: 0.5s;
}

a:hover{
    color: rgb(162, 174, 243);
}

footer{
    background-color: rgb(19, 18, 18);
    text-align: center;
    color: rgb(228, 228, 228);
    padding: 05px;
}